#game .output {
  @extend .section;
  @extend .bottombar;

  border-top: 1px solid $fg_color;
  width: $game_width - $sidebar_width;
  bottom: 0px;

  .content {
    height: 82px;
    overflow: hidden;
    padding: $hpadding 0px;
    width: 700px;

    .entry {
      padding: $hpadding_small $wpadding;
    }
    
    .oldEntry {
      @extend .entry;
      color: $fg_faded_color;
    }
  }
}
